<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250541074793-d13jv2k0g76dgnq03phtnggndlr8nmlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250541074793-d13jv2k0g76dgnq03phtnggndlr8nmlt</string>
	<key>API_KEY</key>
	<string>AIzaSyDPP0VDPHLCrbjSm5kotgSkK4ZU-wbYiKw</string>
	<key>GCM_SENDER_ID</key>
	<string>250541074793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-d4d47</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-d4d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250541074793:ios:accdee9346d5e4ec40f5f8</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-d4d47.firebaseio.com</string>
</dict>
</plist>